@charset "utf-8";

@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-style: normal;
  font-weight: 400 500 600;
  font-display: swap;
  src: url(../assets/Font/PretendardVariable.woff2) format("woff2-variations");
}

@font-face {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/Font/Actor-Regular.woff) format("woff");
  unicode-range: U+0030-0039;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* body background-color 추가 */
body {
  background-color: var(--gray-scale-20);
}

/* a 링크 초기화 */
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #2698cb;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: "Actor", "Pretendard Variable", sans-serif;
}

/* 폰트 스타일 초기화 (기울임) */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
h1,
h2,
h3 {
  font-weight: var(--font-weight-regular);
}

/* 버튼 초기화 */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* box-sizing 초기화 */
* {
  box-sizing: border-box;
}

/* input, textarea 기본설정 제거 */
input,
textarea {
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
}
