.wrap {
    overflow-y: auto;
    width: 100%;
  }
  
  .content {
    max-width: 940px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .question_section {
    background-color: var(--gray-scale-10);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .answer_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gray-scale-20);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .delete_btn {
    align-self: flex-end;
    background-color: var(--red);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: var(--red);
    margin-top: 10px;
  }