.wrap {
  overflow-y: auto;
  width: 100%;
}
.observe_div {
  height: 1px;
  background: transparent;
}
.button_delete {
  position: absolute;
  width: 100px;
  height: 35px;
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-regular);
  color: var(--gray-scale-10);
  background-color: var(--brown-scale-40);
  box-sizing: var(--shadow-2pt);
  border-radius: 200px;
}
.button_scroll_top_only {
  right: 24;
}
