.list_wrap {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  gap: 56px;
  margin: 70px auto;
  padding: 0 32px;
  @media (max-width: 661px) {
    gap: 40px;
    min-width: 100%;
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }
}

.list_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1004px) {
    margin: 0 18px;
  }
  @media (max-width: 661px) {
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
  }
}
.list_logo {
  width: 146px;
}
.list_body_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @media (max-width: 661px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.list_body_top h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-regular);
  color: var(--gray-scale-60);
  @media (max-width: 661px) {
    font-size: var(--font-size-h3);
  }
}
.list_wrap section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (max-width: 661px) {
    gap: 25px;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
