.main_wrap {
  display: grid;
  grid-template-areas:
    "b"
    "h"
    "m"
    "i";
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 60px 50px 0;
  @media (max-width: 767px) {
    grid-template-areas:
      "h"
      "b"
      "m"
      "i";
    grid-template-rows: 98px 86px 172px auto;
    grid-template-columns: 100%;
    padding: 20vh 0 0;
    margin: 0 auto;
  }
}

/* 배경 이미지 */
.background_image {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  grid-area: i;
}
.background_image img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: h;
}

.logo {
  width: 456px;
  height: 180px;
  @media (max-width: 767px) {
    width: 248px;
    height: 98px;
  }
}

.main_body {
  width: 400px;
  height: 172px;
  background-color: var(--gray-scale-10);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  grid-area: m;
  @media (max-width: 534px) {
    width: calc(100% - 72px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.ask_button_wrapper {
  display: flex;
  justify-content: flex-end;
  grid-area: b;
  @media (max-width: 767px) {
    justify-content: center;
    align-items: center;
  }
}
