.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 26px; */
  @media (max-width: 661px) {
    margin-top: 0;
  }
}
.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-body1);
  color: var(--gray-scale-40);
  cursor: pointer;
}
.pagination li:hover {
  color: var(--gray-scale-60);
}
.pagination li.active {
  color: var(--brown-scale-40);
}
.pagination li.disabled:hover {
  cursor: inherit;
}
.pagination li.disabled:hover svg {
  fill: var(--gray-scale-40);
}
.prev_button,
.next_button {
  width: 20px;
  height: 20px;
}
.prev_button svg,
.next_button svg {
  fill: var(--gray-scale-40);
}
.prev_button:hover svg,
.next_button:hover svg {
  fill: var(--brown-scale-60);
}
