.user_card_wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(186px, 220px));
  gap: 20px;
  justify-content: center;
  @media (max-width: 867px) {
    grid-template-columns: repeat(3, minmax(186px, 220px));
  }
  @media (max-width: 661px) {
    grid-template-columns: repeat(2, minmax(186px, 1fr));
    gap: 16px;
  }
}
.user_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 187px;
  padding: 20px;
  border: 1px solid var(--gray-scale-40);
  border-radius: 16px;
  background-color: var(--gray-scale-10);
}
.user_card:hover {
  scale: 1.03;
  border: 2px solid var(--brown-scale-40);
  box-shadow: var(--shadow-1pt);
}
.user_card_top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.user_profile {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}
.user_name {
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
  color: var(--gray-scale-60);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_card_bottom {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-regular);
  color: var(--gray-scale-40);
}
.user_card_bottom li {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user_card_bottom li:first-child svg {
  width: 18px;
  height: 18px;
  fill: var(--gray-scale-40);
}
.empty_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.empty_item {
  font-size: var(--font-size-body1);
  color: var(--brown-scale-40);
  font-weight: var(--font-weight-regular);
}
.empty_item p {
  display: flex;
  align-items: center;
  gap: 8px;
}
