.user_card_wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(186px, 220px));
  gap: 20px;
  @media screen and (max-width: 868px) {
    grid-template-columns: repeat(4, minmax(186, 1fr));
  }
  @media screen and (max-width: 867px) and (min-width: 662px) {
    grid-template-columns: repeat(3, minmax(186px, 220px));
    justify-content: center;
  }
  @media screen and (max-width: 661px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.user_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 220px; */
  height: 187px;
  padding: 20px;
  border: 1px solid var(--gray-scale-40);
  border-radius: 16px;
  background-color: var(--gray-scale-10);
}
.user_card_top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.user_profile {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}
.user_name {
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
  color: var(--gray-scale-60);
}
.user_card_bottom {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-regular);
  color: var(--gray-scale-40);
}
.user_card_bottom li {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user_card_bottom li:first-child svg {
  width: 18px;
  height: 18px;
  fill: var(--gray-scale-40);
}
