.button_delete {
  float: right;
  width: 100px;
  height: 35px;
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-regular);
  color: var(--gray-scale-10);
  background-color: var(--brown-scale-40);
  box-shadow: var(--shadow-2pt);
  border-radius: 200px;
}
