.header {
  background-image: url("../assets/Images/key_visual.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 234px;
  margin: 0;
  position: relative;
  @media (max-width: 767px) {
    height: 177px;
  }
}

.header_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 50px;
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.logo_img {
  width: 170px;
  height: 67px;
  @media (max-width: 767px) {
    width: 124px;
    height: 49px;
  }
}

.profile_img {
  width: 136px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  @media (max-width: 767px) {
    width: 104px;
  }
}

.name {
  color: var(--gray-scale-60);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-h2);
  @media (max-width: 767px) {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
  }
}
